* {
  font-family: 'Macondo', cursive;
}

.background-image {
  background-image: url('./images/sand-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 5px solid rgb(220, 10, 10);
}

header {
  margin: auto;
  border: 5px solid rgb(17, 10, 220);
  text-align: center;
}

.sub-header {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.image {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.rules {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.table {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.but {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.click-counter {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

footer {
  margin: auto;
  border: 5px solid rgb(220, 10, 10);
}

.name {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.link {
  margin: auto;
  border: 1px solid rgb(67, 38, 11);
}

.round-corners {
  border-radius: 20px;
  border: 1px solid rgb(67, 38, 11);
  box-shadow: 2px 2px 2px 2px black;
}